<footer>
  <h6>Serious stuff</h6>
  <a class="btn btn-social-icon btn-email" href="mailto:{{ site.author.email }}">
    <span class="fa fa-envelope-o"></span>
  </a>
  <a class="btn btn-social-icon btn-phone" href="tel:{{ site.author.phone }}">
    <span class="fa fa-phone"></span>
  </a>
  <a class="btn btn-social-icon btn-scholar" href="https://scholar.google.co.uk/citations?user={{ site.author.scholar }}">
    <span class="fa fa-mortar-board"></span>
  </a>

  <h6>Not-so-serious stuff</h6>
  <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/{{ site.author.twitter }}">
    <span class="fa fa-twitter"></span>
  </a>
  <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/{{ site.author.instagram }}">
    <span class="fa fa-instagram"></span>
  </a>
  <a class="btn btn-social-icon btn-github" href="http://github.com/{{ site.author.github }}">
    <span class="fa fa-github"></span>
  </a>
  <a class="btn btn-social-icon btn-stackoverflow" href="http://stackoverflow.com/users/{{ site.author.stackoverflow }}">
    <span class="fa fa-stack-overflow"></span>
  </a>
  <p>&mdash;</p>
  <p><small>&copy; {{ 'now' | date: "%Y" }}</small></p>
</footer>
